config DUMMYSENSOR
	bool "dummy sensor"
	default n
	depends on DT_HAS_AESIR_DUMMYSENSOR_ENABLED


choice
	prompt "select data source for the dummy sensor"
	config DUMMYSENSOR_AESIR
		bool "aesir data"
	config DUMMYSENSOR_ASAT
		bool "asat data"
	config DUMMYSENSOR_ASTG
		bool "astg data"
	config DUMMYSENSOR_BRISTOL
		bool "bristol data"
	config DUMMYSENSOR_FARADAY
		bool "faraday data"
	config DUMMYSENSOR_RED
		bool "red data"
endchoice