/ {
    chosen {
    };

    aliases {
        imu = &hilsensor0;
        barometer = &hilsensor0;
        hilsensor = &hilsensor0; // no function
    };

    hilsensor0: hilsensor0 {
    compatible = "aesir,hilsensor";
    status = "okay";
    };
};



